.container {
  flex: 1;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.headerSection {
  padding: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstHeaderSectionHeaderText {
  font-size: xx-large;
  font-weight: 500;
}

.firstHeaderSectionSubText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstHeaderSectionSubTextFont {
  padding-right: 6px;
  font-size: 16px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.dot {
  padding-bottom: 4px;
  font-size: 18px;
}

.dot1 {
  padding-bottom: 4px;
  margin-right: 6px;
  font-size: 18px;
}

.postPaid {
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 119, 255);
  background-color: rgba(135, 206, 250, 0.267);
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 0;
}

.btnPrimary {
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 500;
  color: #fff;
  background-color: #0691d1;
  border: none;
  padding: 8px;
  border-radius: 10px;
}

.innerDiv {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.horizontalLine {
  width: 94%;
  margin: 0;
  margin-left: 14px;
}

.headerMiddleSection {
  padding: 1%;
  padding-bottom: 1.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMiddleSectionLeft {
  display: flex;
  width: 100%;
  column-gap: 30px;
}

.headerMiddleSectionRight {
  display: flex;
  width: 100%;
  text-align: center;
  column-gap: 70px;
}

.middleSectionDivLeft {
  font-size: medium;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

.middleSectionDivRight {
  font-size: medium;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

.dot2 {
  padding-bottom: 4px;
  font-size: 38px;
  padding-inline: 13%;
}

.lastSectionDiv {
  padding: 1% 1% 1% 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
