.container {
  width: 50%;
  flex: 1;
  padding-top: 1%;
}

.tableWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  height: 55%;
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.navLink {
  color: #444;
  border-bottom: 2px solid transparent;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

.navLinkActive {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

th {
  text-align: left;
  padding: 10px;
  background-color: #f9f9f9;
  color: gray;
}

td {
  padding: 12px;
  height: 40px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #ddd;
}

.navTabs {
  margin-top: 2%;
  margin-bottom: 4%;
  font-size: large;
  font-weight: 600;
}

@media only screen and (max-width: 1440px) {
  .container {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .navTabs {
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 1em;
    font-weight: 600;
  }
  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .navTabs {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: medium;
    font-weight: 500;
  }
  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: small;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
  .navTabs {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: small;
    font-weight: 500;
  }
  .table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: x-small;
  }
}
