.container {
  width: 50%;
  flex: 1;
  padding-top: 1%;
}

.tableWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  height: 55%;
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.navLink {
  color: #444;
  border-bottom: 2px solid transparent;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

.navLinkActive {
  color: #007bff; /* or your theme blue */
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

th {
  text-align: left;
  padding: 10px;
  background-color: #f9f9f9;
  color: gray;
}

td {
  padding: 12px;
  height: 40px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #ddd;
}
