.mainContainer {
  padding: 2%;
}

.innnerContainer {
  display: flex;
  gap: 50px;
}

@media only screen and (max-width: 1440px) {
  .innnerContainer {
    gap: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .innnerContainer {
    flex-direction: column-reverse;
    gap: 0;
  }
}
